<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    [#include "../../common/header.html" /]
    <link rel="stylesheet" href="${WEBROOT}/public/css/common/portalPage.css">
    <style>
        body {
            background-image:url('/public/images/common/index-bg.jpg');
            background-size:100%;
            background-repeat:no-repeat;
        }
    </style>
</head>
<body>

    <div class="btn-group btn-opts set" style="width:100px;height:100px;float:right;">
        <div style="display: none">
        <a href="/index.html" target="_blank">设置>></a>
        </div>
    </div>
    <div class="btn-group btn-opts" style="margin-top: 700px;margin-left: 700px">
        <span id="btnAdd" class="btn btn-lg btn-success"><a href="/client/index.html">用 户 </a> </span>

    </div>


</body>

[#include "../../common/footer.html" /]
<script type="text/javascript" src="${WEBROOT}/public/js/bootstrap/bootstrap3-typeahead.js"></script>
<script type="text/javascript" src="${WEBROOT}/public/js/spa/portal/client/index.js"></script>
</html>
