<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    [#include "../../common/header.html" /]
</head>
<body>
[#if client.id?? ]
<form name="form" action="${WEBROOT}/client/update.html" method="post" onSubmit="return false;" class="form-horizontal">
    [#else]
    <form name="form" action="${WEBROOT}/client/save.html" method="post" onSubmit="return false;"
          class="form-horizontal">
        [/#if]
        <input id="id" name="id" type="hidden" class="form-control input-sm" required value="${client.id!}">
        <div class="form-group">
            <label for="" class="col-sm-2f control-label"><em class="text-danger">*</em>姓名</label>
            <div class="col-sm-3">
                <input id="name" name="name" type="text" class="form-control input-sm" maxlength="25" required
                       value="${client.name!}">
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2f control-label"><em class="text-danger">*</em>年龄</label>
            <div class="col-sm-3">
                <input id="age" name="age" type="number" class="form-control input-sm" maxlength="25" required
                       value="${client.age!}">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2f col-sm-2">
                <button type="button" class="btn btn-default" onclick="javascript:history.back()">返回</button>
                <button type="submit" class="btn btn-success">保 存</button>
            </div>
        </div>
    </form>
</body>

[#include "../../common/footer.html" /]
<script type="text/javascript" src="${WEBROOT}/public/js/bootstrap/bootstrap3-typeahead.js"></script>
<script type="text/javascript" src="${WEBROOT}/public/js/spa/client/client/edit.js?v=0614"></script>
</html>
