<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    [#include "../../common/header.html" /]
    <link rel="stylesheet" href="${WEBROOT}/public/css/common/portalPage.css">

</head>
<body>

<h1> <div class="tit"> 检 测 报 告</div></h1>

<div class="main-con">
    <input type="hidden" id="topCheckItemId" value="${topCheckItem.id!}" >
    <div style="height: 500px">
    [#if topCheckResult??]
    <div class="item-title"><h1>${topCheckResult.itemName}</h1></div>
    <div style="margin: auto">
        <div style="display: inline;width: 20%;float: left;font-size: 25px"><span>标准值:${topCheckResult.generalScore?string("#.#")}</span></div>
        <div class="progress prog" style="width:20%;display: inline;float: left">
            <div class="progress-bar progress-bar-info" role="progressbar"
                 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                 style="width: ${topCheckResult.generalScore}%;">
                <span class="sr-only">30% 完成（信息）</span>
            </div>
        </div>
    </div>
    <div style="clear: left">
        <div style="display: inline;width: 20%;float: left;font-size: 25px"><span>检测值:${topCheckResult.score?string("#.#")}</span></div>
        <div class="progress prog " style="width: 20%;display: inline;float: left"">
            <div class="progress-bar progress-bar-warning" role="progressbar"
                 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                 style="width: ${topCheckResult.score}%;">
                <span class="sr-only">20% 完成（警告）</span>
            </div>
        </div>
    </div>
    [/#if]
    <div class="un-l"></div>
    [#if childCheckResultList??]
    [#list childCheckResultList as child]
    <div class="c-item ">
        <div class="item-title"><h3>${child.itemName}</h3></div>
        <div>
        <div class="v-name"  style="width: 40%"><span>标准值:${topCheckResult.generalScore?string("#.#")}</span></div>

        <div class="progress prog">
            <div class="progress-bar progress-bar-info" role="progressbar"
                 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                 style="width: ${topCheckResult.generalScore}%;">
                <span class="sr-only">30% 完成（信息）</span>
            </div>
        </div>
        <div class="v-name"  style="width: 40%"><span>检测值:${child.score?string("#.#")}</span></div>

        <div class="progress prog">
            <div class="progress-bar progress-bar-warning" role="progressbar"
                 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                 style="width: ${child.score}%;">
                <span class="sr-only">20% 完成（警告）</span>
            </div>
        </div>
        </div>
    </div>
    [/#list]
    [/#if]
    </div>
    <div class="s-product" style="width: 50%">
        <ul class="pager" style="float:left;margin-top: 20px">
            <div class="btn-group btn-opts">
                <span id="btnDetail" class="btn btn-md btn-success">推荐产品</span>
            </div>
        </ul>
    </div>
    <div style="width: 50%;float: right">
        <ul class="pager">
            [#if start == 0]
            <li class="disabled"><a href="#">上一页</a></li>
            [#else]
            <li>
                <a href="${WEBROOT}/portal/checkResult/index.html?clientId=${clientId}&start=${start-1}&length=1">上一页</a>
            </li>
            [/#if]

            [#if start gte total]
            <li class="disabled"><a href="#">下一页</a></li>
            [#else]
            <li>
                <a href="${WEBROOT}/portal/checkResult/index.html?clientId=${clientId}&start=${start+1}&length=1">下一页</a>
            </li>
            [/#if]
        </ul>
    </div>

</div>
</body>

[#include "../../common/footer.html" /]
<script type="text/javascript" src="${WEBROOT}/public/js/bootstrap/bootstrap3-typeahead.js"></script>
<script type="text/javascript" src="${WEBROOT}/public/js/spa/portal/checkResult/index.js?v=0614"></script>
</html>
