/* line 3, ../sass/lib/_common.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  font-size: 14px; }

/* line 12, ../sass/lib/_common.scss */
html, body {
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
  background: #010020; }

/* line 19, ../sass/lib/_common.scss */
img {
  border: none; }

/* line 22, ../sass/lib/_common.scss */
ul, li {
  list-style-type: none; }

/* line 26, ../sass/lib/_common.scss */
a:link, a:visited, a:hover, a:active {
  text-decoration: none; }

/* line 31, ../sass/lib/_common.scss */
input, button, select, textarea {
  outline: none; }

/* line 34, ../sass/lib/_common.scss */
.main-input-text {
  color: #464241; }
  /* line 36, ../sass/lib/_common.scss */
  .main-input-text .main-input-text-label {
    color: #464241;
    height: 100%;
    float: left; }
  /* line 41, ../sass/lib/_common.scss */
  .main-input-text .main-input-text-content {
    width: 100%;
    color: #464241;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #9a9997;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }
    /* line 53, ../sass/lib/_common.scss */
    .main-input-text .main-input-text-content.hover-color {
      background-color: #eee; }

/* line 58, ../sass/lib/_common.scss */
.main-input-radio {
  width: 100%;
  overflow: hidden; }
  /* line 62, ../sass/lib/_common.scss */
  .main-input-radio .main-input-radio-items {
    float: left; }
  /* line 65, ../sass/lib/_common.scss */
  .main-input-radio .main-input-radio-box-wrap {
    height: 100%;
    float: left;
    position: relative; }
  /* line 70, ../sass/lib/_common.scss */
  .main-input-radio .main-input-radio-box-tick {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 1px; }
  /* line 78, ../sass/lib/_common.scss */
  .main-input-radio .main-input-radio-label {
    color: #464241;
    float: left; }
  /* line 82, ../sass/lib/_common.scss */
  .main-input-radio .main-input-radio-box {
    border-radius: 4px;
    border: 1px solid #aba9ab;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

/* line 91, ../sass/lib/_common.scss */
.main-percentage-bar .main-percentage-bar-label {
  color: #004098;
  float: left; }
/* line 95, ../sass/lib/_common.scss */
.main-percentage-bar .main-percentage-bar-bar {
  float: left;
  border: 1px solid #706e6f;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 102, ../sass/lib/_common.scss */
  .main-percentage-bar .main-percentage-bar-bar .main-percentage-bar-complete {
    position: relative;
    background-color: #004098; }
    /* line 105, ../sass/lib/_common.scss */
    .main-percentage-bar .main-percentage-bar-bar .main-percentage-bar-complete .main-percentage-bar-complete-dot {
      background-color: #004098;
      position: absolute;
      right: 0px; }
      /* line 109, ../sass/lib/_common.scss */
      .main-percentage-bar .main-percentage-bar-bar .main-percentage-bar-complete .main-percentage-bar-complete-dot .main-percentage-bar-complete-num {
        position: absolute;
        color: #004098;
        text-align: center; }

/* line 119, ../sass/lib/_common.scss */
.main-input-module {
  display: none;
  position: relative;
  width: 100%;
  height: 100%; }
  /* line 124, ../sass/lib/_common.scss */
  .main-input-module .bg {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%; }
  /* line 130, ../sass/lib/_common.scss */
  .main-input-module .input {
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    border: none; }
  /* line 138, ../sass/lib/_common.scss */
  .main-input-module .btn-ok {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    border-radius: 4px;
    width: 200px;
    height: 40px;
    background: -webkit-linear-gradient(top, #4c92f4 0%, #011c43 100%);
    border: 1px solid #23353f;
    color: #fff;
    text-align: center;
    position: absolute; }
    /* line 151, ../sass/lib/_common.scss */
    .main-input-module .btn-ok.hover-color {
      background: -webkit-linear-gradient(top, #011c43 0%, #4c92f4 100%); }
  /* line 155, ../sass/lib/_common.scss */
  .main-input-module .btn-cancel {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    border-radius: 4px;
    width: 200px;
    height: 40px;
    background: -webkit-linear-gradient(top, #4c92f4 0%, #011c43 100%);
    border: 1px solid #23353f;
    color: #fff;
    text-align: center;
    position: absolute; }
    /* line 168, ../sass/lib/_common.scss */
    .main-input-module .btn-cancel.hover-color {
      background: -webkit-linear-gradient(top, #011c43 0%, #4c92f4 100%); }

/* line 173, ../sass/lib/_common.scss */
.main-div-table {
  float: left;
  box-sizing: border-box;
  border: 1px solid #6d6865; }
  /* line 178, ../sass/lib/_common.scss */
  .main-div-table .main-dav-table-title {
    width: 100%;
    float: left; }
    /* line 181, ../sass/lib/_common.scss */
    .main-div-table .main-dav-table-title .main-dav-table-line {
      width: 100%;
      float: left;
      box-sizing: border-box;
      border-bottom: 1px solid #6d6865; }
      /* line 186, ../sass/lib/_common.scss */
      .main-div-table .main-dav-table-title .main-dav-table-line .main-dav-table-block {
        box-sizing: border-box;
        font-weight: 700;
        float: left;
        text-align: center;
        color: #1e1916;
        border-right: 1px solid #6d6865; }
        /* line 193, ../sass/lib/_common.scss */
        .main-div-table .main-dav-table-title .main-dav-table-line .main-dav-table-block:last-child {
          border-right: none; }
  /* line 199, ../sass/lib/_common.scss */
  .main-div-table .main-dav-table-body {
    width: 100%;
    float: left; }
    /* line 202, ../sass/lib/_common.scss */
    .main-div-table .main-dav-table-body .main-dav-table-line {
      width: 100%;
      float: left;
      box-sizing: border-box;
      border-bottom: 1px solid #6d6865; }
      /* line 207, ../sass/lib/_common.scss */
      .main-div-table .main-dav-table-body .main-dav-table-line:last-child {
        border-bottom: none; }
      /* line 210, ../sass/lib/_common.scss */
      .main-div-table .main-dav-table-body .main-dav-table-line .main-dav-table-block {
        box-sizing: border-box;
        font-weight: 700;
        float: left;
        text-align: center;
        color: #1e1916;
        border-right: 1px solid #6d6865; }
        /* line 217, ../sass/lib/_common.scss */
        .main-div-table .main-dav-table-body .main-dav-table-line .main-dav-table-block:last-child {
          border-right: none; }
        /* line 220, ../sass/lib/_common.scss */
        .main-div-table .main-dav-table-body .main-dav-table-line .main-dav-table-block .btn {
          border: 1px solid #92918d;
          float: left;
          font-size: inherit;
          box-sizing: border-box; }
          /* line 225, ../sass/lib/_common.scss */
          .main-div-table .main-dav-table-body .main-dav-table-line .main-dav-table-block .btn.hover-color {
            background: #133984;
            color: #fff; }

/* line 234, ../sass/lib/_common.scss */
.main-turn-page {
  position: absolute; }
  /* line 236, ../sass/lib/_common.scss */
  .main-turn-page .turn-page-item {
    border: 1px solid #92918d;
    float: left;
    font-size: inherit;
    box-sizing: border-box;
    color: #1e1916; }
    /* line 242, ../sass/lib/_common.scss */
    .main-turn-page .turn-page-item.hover-color {
      background: #133984;
      color: #fff; }
    /* line 246, ../sass/lib/_common.scss */
    .main-turn-page .turn-page-item.on {
      background: #133984;
      color: #fff; }

/* line 5, ../sass/index.scss */
.page-start {
  display: none;
  width: 100%;
  height: 100%;
  background: #010020;
  background-size: cover;
  background-image: url("../../images-dist/page-start-bg.jpg");
  position: relative; }

/* line 14, ../sass/index.scss */
.page-main {
  display: none;
  width: 100%;
  height: 100%;
  background: #010020;
  background-size: cover;
  background-image: url("../../images-dist/page-main-bg.jpg");
  position: relative; }
  /* line 22, ../sass/index.scss */
  .page-main .page-home {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none; }
    /* line 27, ../sass/index.scss */
    .page-main .page-home .btn-new {
      display: none;
      width: 200px;
      height: 40px;
      background: -webkit-linear-gradient(top, #36a7eb 0%, #06398a 100%);
      border: 1px solid #592905;
      color: #fff;
      text-align: center;
      font-weight: 700;
      position: absolute; }
      /* line 37, ../sass/index.scss */
      .page-main .page-home .btn-new.hover-color {
        background: #06398a; }
    /* line 41, ../sass/index.scss */
    .page-main .page-home .btn-record {
      display: none;
      color: #fff;
      width: 200px;
      height: 40px;
      background: -webkit-linear-gradient(top, #f3954f 0%, #e25e14 100%);
      border: 1px solid #592905;
      text-align: center;
      font-weight: 700;
      position: absolute; }
      /* line 51, ../sass/index.scss */
      .page-main .page-home .btn-record.hover-color {
        background: #e25e14; }
  /* line 56, ../sass/index.scss */
  .page-main .page-user-list {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute; }
    /* line 61, ../sass/index.scss */
    .page-main .page-user-list .bg {
      position: absolute;
      width: 100%;
      height: 100%; }
    /* line 66, ../sass/index.scss */
    .page-main .page-user-list .body {
      overflow: hidden;
      position: absolute;
      background: #fff; }
      /* line 71, ../sass/index.scss */
      .page-main .page-user-list .body .operation .so-btn,
      .page-main .page-user-list .body .operation .back-btn {
        float: right;
        text-align: center;
        border: 1px solid #92918d;
        font-size: inherit;
        box-sizing: border-box;
        color: #1e1916; }
        /* line 80, ../sass/index.scss */
        .page-main .page-user-list .body .operation .so-btn.hover-color,
        .page-main .page-user-list .body .operation .back-btn.hover-color {
          background: #133984;
          color: #fff; }
      /* line 85, ../sass/index.scss */
      .page-main .page-user-list .body .operation .main-input-text-content-wrap {
        float: left; }
        /* line 87, ../sass/index.scss */
        .page-main .page-user-list .body .operation .main-input-text-content-wrap .main-input-text-content {
          border: 1px solid #9a9997;
          color: #1e1916; }
      /* line 96, ../sass/index.scss */
      .page-main .page-user-list .body .main-div-table .main-dav-table-line .column-one {
        width: 6%; }
      /* line 99, ../sass/index.scss */
      .page-main .page-user-list .body .main-div-table .main-dav-table-line .column-two {
        width: 9%; }
      /* line 102, ../sass/index.scss */
      .page-main .page-user-list .body .main-div-table .main-dav-table-line .column-three {
        width: 6%; }
      /* line 105, ../sass/index.scss */
      .page-main .page-user-list .body .main-div-table .main-dav-table-line .column-four {
        width: 6%; }
      /* line 108, ../sass/index.scss */
      .page-main .page-user-list .body .main-div-table .main-dav-table-line .column-five {
        width: 15%; }
      /* line 111, ../sass/index.scss */
      .page-main .page-user-list .body .main-div-table .main-dav-table-line .column-six {
        width: 11%; }
      /* line 114, ../sass/index.scss */
      .page-main .page-user-list .body .main-div-table .main-dav-table-line .column-seven {
        width: 13%; }
      /* line 117, ../sass/index.scss */
      .page-main .page-user-list .body .main-div-table .main-dav-table-line .column-eight {
        width: 34%; }
      /* line 120, ../sass/index.scss */
      .page-main .page-user-list .body .main-div-table .main-dav-table-line .column-fill {
        width: 100%; }
  /* line 127, ../sass/index.scss */
  .page-main .page-test-list {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute; }
    /* line 132, ../sass/index.scss */
    .page-main .page-test-list .bg {
      position: absolute;
      width: 100%;
      height: 100%; }
    /* line 137, ../sass/index.scss */
    .page-main .page-test-list .body {
      overflow: hidden;
      position: absolute;
      background: #fff;
      position: relative; }
      /* line 143, ../sass/index.scss */
      .page-main .page-test-list .body .operation .name,
      .page-main .page-test-list .body .operation .num {
        float: left; }
      /* line 147, ../sass/index.scss */
      .page-main .page-test-list .body .operation .back-btn {
        float: right;
        text-align: center;
        border: 1px solid #92918d;
        font-size: inherit;
        box-sizing: border-box;
        color: #1e1916; }
        /* line 155, ../sass/index.scss */
        .page-main .page-test-list .body .operation .back-btn.hover-color {
          background: #133984;
          color: #fff; }
      /* line 160, ../sass/index.scss */
      .page-main .page-test-list .body .operation .main-input-text-content-wrap {
        float: left; }
        /* line 162, ../sass/index.scss */
        .page-main .page-test-list .body .operation .main-input-text-content-wrap .main-input-text-content {
          border: 1px solid #9a9997;
          color: #1e1916; }
      /* line 171, ../sass/index.scss */
      .page-main .page-test-list .body .main-div-table .main-dav-table-line .column-one {
        width: 10%; }
      /* line 174, ../sass/index.scss */
      .page-main .page-test-list .body .main-div-table .main-dav-table-line .column-two {
        width: 30%; }
      /* line 177, ../sass/index.scss */
      .page-main .page-test-list .body .main-div-table .main-dav-table-line .column-three {
        width: 10%; }
      /* line 180, ../sass/index.scss */
      .page-main .page-test-list .body .main-div-table .main-dav-table-line .column-four {
        width: 50%; }
      /* line 183, ../sass/index.scss */
      .page-main .page-test-list .body .main-div-table .main-dav-table-line .column-fill {
        width: 100%; }
  /* line 191, ../sass/index.scss */
  .page-main .page-test-report {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute; }
    /* line 196, ../sass/index.scss */
    .page-main .page-test-report .bg {
      position: absolute;
      width: 100%;
      height: 100%; }
    /* line 202, ../sass/index.scss */
    .page-main .page-test-report .body {
      overflow: hidden;
      position: absolute;
      background: #fff; }
      /* line 206, ../sass/index.scss */
      .page-main .page-test-report .body .title {
        width: 100%;
        text-align: center;
        font-weight: 700;
        color: #004098; }
      /* line 212, ../sass/index.scss */
      .page-main .page-test-report .body .recommend-btn {
        display: none;
        border-radius: 4px;
        width: 200px;
        height: 40px;
        background: -webkit-linear-gradient(top, #00aae6 0%, #00469d 100%);
        border: 1px solid #23353f;
        color: #fff;
        text-align: center;
        font-weight: 700;
        position: absolute; }
        /* line 223, ../sass/index.scss */
        .page-main .page-test-report .body .recommend-btn.hover-color {
          background: -webkit-linear-gradient(top, #00469d 0%, #00aae6 100%); }
      /* line 227, ../sass/index.scss */
      .page-main .page-test-report .body .data-wraps {
        width: 100%; }
        /* line 230, ../sass/index.scss */
        .page-main .page-test-report .body .data-wraps .data-wraps-two {
          float: left; }
          /* line 232, ../sass/index.scss */
          .page-main .page-test-report .body .data-wraps .data-wraps-two .data-items {
            float: left;
            width: 50%; }
            /* line 235, ../sass/index.scss */
            .page-main .page-test-report .body .data-wraps .data-wraps-two .data-items .data-items-title {
              width: 100%;
              text-align: center;
              font-weight: 700;
              color: #004098; }
            /* line 241, ../sass/index.scss */
            .page-main .page-test-report .body .data-wraps .data-wraps-two .data-items .main-input-radio {
              text-align: center; }
              /* line 243, ../sass/index.scss */
              .page-main .page-test-report .body .data-wraps .data-wraps-two .data-items .main-input-radio .main-input-radio-items {
                margin: 0 auto;
                display: inline-block;
                float: none; }
                /* line 248, ../sass/index.scss */
                .page-main .page-test-report .body .data-wraps .data-wraps-two .data-items .main-input-radio .main-input-radio-items .main-input-radio-box-wrap .main-input-radio-box {
                  border-color: #d8261c; }
                /* line 252, ../sass/index.scss */
                .page-main .page-test-report .body .data-wraps .data-wraps-two .data-items .main-input-radio .main-input-radio-items .main-input-radio-label {
                  color: #d8261c;
                  font-weight: 700; }
            /* line 259, ../sass/index.scss */
            .page-main .page-test-report .body .data-wraps .data-wraps-two .data-items .compare-options {
              display: inline-block;
              font-weight: 700;
              color: #004098;
              width: 100%;
              text-align: center; }
    /* line 274, ../sass/index.scss */
    .page-main .page-test-report .recommend-bg {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7); }
    /* line 281, ../sass/index.scss */
    .page-main .page-test-report .recommend {
      display: none;
      background-color: #fff;
      position: absolute; }
      /* line 285, ../sass/index.scss */
      .page-main .page-test-report .recommend .left-arrow {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        z-index: 1; }
        /* line 291, ../sass/index.scss */
        .page-main .page-test-report .recommend .left-arrow .arrow {
          float: left;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          width: 20px;
          height: 20px;
          border-left: 5px solid #605e5d;
          border-bottom: 5px solid #605e5d;
          transform: rotate(45deg); }
          /* line 301, ../sass/index.scss */
          .page-main .page-test-report .recommend .left-arrow .arrow.hover-color {
            border-color: #acadad; }
      /* line 306, ../sass/index.scss */
      .page-main .page-test-report .recommend .right-arrow {
        position: absolute;
        right: 0px;
        top: 0px;
        height: 100%;
        z-index: 1; }
        /* line 312, ../sass/index.scss */
        .page-main .page-test-report .recommend .right-arrow .arrow {
          float: right;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          width: 20px;
          height: 20px;
          border-top: 5px solid #605e5d;
          border-right: 5px solid #605e5d;
          transform: rotate(45deg); }
          /* line 322, ../sass/index.scss */
          .page-main .page-test-report .recommend .right-arrow .arrow.hover-color {
            border-color: #acadad; }
      /* line 327, ../sass/index.scss */
      .page-main .page-test-report .recommend .close {
        z-index: 2;
        text-align: center;
        right: 0px;
        top: 0px;
        position: absolute;
        background-color: #605e5d;
        color: #fff; }
        /* line 335, ../sass/index.scss */
        .page-main .page-test-report .recommend .close.hover-color {
          background-color: #acadad; }
      /* line 339, ../sass/index.scss */
      .page-main .page-test-report .recommend .product-list-wrap {
        height: 100%;
        position: relative;
        overflow: hidden; }
        /* line 343, ../sass/index.scss */
        .page-main .page-test-report .recommend .product-list-wrap .product-list {
          height: 100%;
          position: absolute; }
          /* line 346, ../sass/index.scss */
          .page-main .page-test-report .recommend .product-list-wrap .product-list li {
            float: left;
            height: 100%; }
            /* line 350, ../sass/index.scss */
            .page-main .page-test-report .recommend .product-list-wrap .product-list li img {
              margin: 0 auto;
              height: 100%;
              display: block; }
  /* line 362, ../sass/index.scss */
  .page-main .page-new-user {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute; }
    /* line 367, ../sass/index.scss */
    .page-main .page-new-user .bg {
      position: absolute;
      width: 100%;
      height: 100%; }
    /* line 373, ../sass/index.scss */
    .page-main .page-new-user .body {
      position: absolute;
      background: #fff;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      /* line 380, ../sass/index.scss */
      .page-main .page-new-user .body .big-title {
        color: #133984;
        font-weight: 700; }
      /* line 384, ../sass/index.scss */
      .page-main .page-new-user .body .left {
        width: 50%;
        float: left; }
        /* line 387, ../sass/index.scss */
        .page-main .page-new-user .body .left .head-img {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          display: block;
          border: 1px solid #9f9f9c;
          float: left;
          opacity: 1; }
          /* line 395, ../sass/index.scss */
          .page-main .page-new-user .body .left .head-img.hover-color {
            opacity: 0.7; }
        /* line 399, ../sass/index.scss */
        .page-main .page-new-user .body .left .basis-info {
          display: block;
          float: left; }
        /* line 404, ../sass/index.scss */
        .page-main .page-new-user .body .left .contact-info {
          display: block;
          float: left;
          width: 100%; }
        /* line 410, ../sass/index.scss */
        .page-main .page-new-user .body .left .case-history {
          float: left;
          width: 100%; }
          /* line 413, ../sass/index.scss */
          .page-main .page-new-user .body .left .case-history .block-items {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            float: left;
            width: 40%;
            color: #fff;
            text-align: center;
            background-color: #133984; }
            /* line 422, ../sass/index.scss */
            .page-main .page-new-user .body .left .case-history .block-items:last-child {
              float: right; }
        /* line 427, ../sass/index.scss */
        .page-main .page-new-user .body .left .case-history-tick {
          float: left;
          width: 100%; }
          /* line 430, ../sass/index.scss */
          .page-main .page-new-user .body .left .case-history-tick .main-input-radio-items {
            width: 40%; }
            /* line 432, ../sass/index.scss */
            .page-main .page-new-user .body .left .case-history-tick .main-input-radio-items:last-child {
              float: right; }
      /* line 438, ../sass/index.scss */
      .page-main .page-new-user .body .right {
        width: 40%;
        float: right; }
        /* line 441, ../sass/index.scss */
        .page-main .page-new-user .body .right .main-input-radio {
          float: left; }
          /* line 443, ../sass/index.scss */
          .page-main .page-new-user .body .right .main-input-radio .main-input-radio-items {
            width: 50%;
            float: left; }
        /* line 448, ../sass/index.scss */
        .page-main .page-new-user .body .right .recent-analyze {
          float: left;
          width: 100%; }
          /* line 451, ../sass/index.scss */
          .page-main .page-new-user .body .right .recent-analyze .recent-analyze-wrap {
            display: none;
            border: 1px solid #8190a5; }
            /* line 454, ../sass/index.scss */
            .page-main .page-new-user .body .right .recent-analyze .recent-analyze-wrap .line {
              overflow: hidden;
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
              border-bottom: 1px solid #8190a5; }
              /* line 460, ../sass/index.scss */
              .page-main .page-new-user .body .right .recent-analyze .recent-analyze-wrap .line:last-child {
                border: none; }
              /* line 463, ../sass/index.scss */
              .page-main .page-new-user .body .right .recent-analyze .recent-analyze-wrap .line .line-title {
                text-align: center;
                background-color: #133984;
                color: #fff;
                width: 33%;
                float: left; }
              /* line 470, ../sass/index.scss */
              .page-main .page-new-user .body .right .recent-analyze .recent-analyze-wrap .line .line-content {
                text-align: center;
                color: #464241;
                width: 67%;
                float: right; }
              /* line 476, ../sass/index.scss */
              .page-main .page-new-user .body .right .recent-analyze .recent-analyze-wrap .line .line-title,
              .page-main .page-new-user .body .right .recent-analyze .recent-analyze-wrap .line .line-content {
                font-size: inherit; }
      /* line 485, ../sass/index.scss */
      .page-main .page-new-user .body .save-back-btn,
      .page-main .page-new-user .body .save-scanning-btn {
        display: none;
        border-radius: 4px;
        width: 200px;
        height: 40px;
        background: -webkit-linear-gradient(top, #4c92f4 0%, #011c43 100%);
        border: 1px solid #23353f;
        color: #fff;
        text-align: center;
        position: absolute; }
        /* line 496, ../sass/index.scss */
        .page-main .page-new-user .body .save-back-btn.hover-color,
        .page-main .page-new-user .body .save-scanning-btn.hover-color {
          background: -webkit-linear-gradient(top, #011c43 0%, #4c92f4 100%); }
      /* line 500, ../sass/index.scss */
      .page-main .page-new-user .body .close-btn {
        display: none;
        color: #fff;
        text-align: center;
        position: absolute;
        right: 0px;
        background: -webkit-linear-gradient(top, #36a7eb 0%, #06398a 100%); }
        /* line 507, ../sass/index.scss */
        .page-main .page-new-user .body .close-btn.hover-color {
          background: #06398a; }
  /* line 513, ../sass/index.scss */
  .page-main .page-data-analysising {
    background: #000000;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute; }
    /* line 519, ../sass/index.scss */
    .page-main .page-data-analysising .tip-text {
      width: 100%;
      text-align: center;
      position: absolute;
      color: #fff;
      font-weight: 700; }
    /* line 526, ../sass/index.scss */
    .page-main .page-data-analysising .progress-bar {
      overflow: hidden;
      position: absolute;
      background: #004098; }
      /* line 530, ../sass/index.scss */
      .page-main .page-data-analysising .progress-bar .complete {
        position: absolute;
        background: #fff;
        width: 100%;
        height: 100%; }
