<!-- 公共头部，存放页面公共css和js-->
<script>
    var WEBROOT = "${WEBROOT}";
</script>
<link rel="stylesheet" href="${WEBROOT}/public/css/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="${WEBROOT}/public/css/dialog/ui-dialog.css">
<link rel="stylesheet" href="${WEBROOT}/public/css/fonts/font-awesome.min.css">
<link rel="stylesheet" href="${WEBROOT}/public/css/common/page.css">
<link rel="stylesheet" href="${WEBROOT}/public/css/common/main.css">
<link rel="stylesheet" href="${WEBROOT}/public/css/jquery/datatables/css/jquery.dataTables.css">
<link rel="stylesheet" href="${WEBROOT}/public/css/jquery/datepicker/jquery.datetimepicker.css">
