.games-label { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.games-table th::before { display: inline-block; width: 0; height: 0; overflow: hidden; }

em, i { font-style: normal; }

ul, li { margin: 0; padding: 0; list-style: none; }

body { font: 300 12px/1.5 Microsoft Yahei, simsun; }

button, a { outline: none !important; }

.form-horizontal { padding: 20px 0; }

.form-group .text-danger { margin-right: 3px; vertical-align: middle; }

input:focus:required:invalid, textarea:focus:required:invalid, select:focus:required:invalid { color: #b94a48; border-color: #ee5f5b; }
input:focus:required:invalid:focus, textarea:focus:required:invalid:focus, select:focus:required:invalid:focus { border-color: #e9322d; -webkit-box-shadow: 0 0 6px #f8b9b7; box-shadow: 0 0 6px #f8b9b7; }

.main-inner { padding: 0 15px; }

.breadcrumb { border-bottom: 1px solid #E5E5E5; margin: 0 0 10px; padding: 9px 15px 8px; border-radius: 0; }
.breadcrumb > li + li:before { content: "\f105"; font-family: FontAwesome; font-size: 14px; }
.breadcrumb .icon-home { font-size: 18px; }

.searchbar { background-color: #fafafa; border: 1px solid #ddd; border-radius: 4px; margin-bottom: 10px; padding: 0 10px 10px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); }
.searchbar .form-control, .searchbar .btn { margin-top: 10px; }
.searchbar .btn-opts .btn { background-color: #fff; border-color: #ccc; color: #333; }
.searchbar .btn-opts .btn-default:hover { color: #333; background-color: #e6e6e6; border-color: #adadad; }
.searchbar .btn-opts .btn-success:hover { color: #fff; background-color: #5cb85c; border-color: #4cae4c; }
.searchbar .btn-opts .btn-warning:hover { color: #fff; background-color: #f0ad4e; border-color: #eea236; }
.searchbar .btn-opts .btn-danger:hover { color: #fff; background-color: #d9534f; border-color: #d43f3a; }

.ajax-tip { position: absolute; z-index: 9999; left: 50%; top: 50%; width: 300px; height: 30px; line-height: 30px; margin: -15px 0 0 -150px; background-color: #fff; font-size: 12px; text-align: center; display: none; }
.ajax-tip span { vertical-align: middle; }
.ajax-tip i { display: inline-block; width: 16px; height: 16px; background: url(../images/loading.gif) no-repeat 0 0; vertical-align: middle; margin-right: 10px; }

.ck-tree { border-top: 1px solid #E1E1E8; margin: 10px 0; }
.ck-tree .label-ck { display: inline-block; vertical-align: middle; font-weight: 400; }
.ck-tree .label-ck .ck { margin: 0; }
.ck-tree .label-ck .ck, .ck-tree .label-ck span { vertical-align: middle; }
.ck-tree .line { display: none; }
.ck-tree .inner { padding: 4px 10px; border-bottom: 1px solid #E1E1E8; }
.ck-tree .lev-1 { display: block; background-color: #F7F7F9; }
.ck-tree .lev-1 .line { background-color: #fff; }
.ck-tree .lev-2 .inner { padding-left: 25px; }
.ck-tree .lev-3 .inner { padding-left: 68px; }
.ck-tree .lev-4 .inner { padding-left: 110px; }
.ck-tree .icon-toggle { display: inline-block; font-size: 14px; color: #2B7DBC; border: 1px solid #2B7DBC; width: 17px; text-align: center; border-radius: 3px; margin-right: 6px; cursor: pointer; }
.ck-tree .icon-toggle::before { content: "+"; }
.ck-tree .icon-toggle:hover, .ck-tree .icon-toggle.active { background: #2B7DBC; color: #fff; }
.ck-tree .icon-toggle-open::before { content: "-"; }
.ck-tree .form-control { display: inline-block; width: 200px; height: 28px; margin-left: 10px; }

.fieldset { margin-bottom: 40px; }
.fieldset .page-header { margin: 0 0 20px; padding-left: 2px; font-size: 16px; }
.fieldset .page-header small { margin-left: 12px; }

.mb-10 { margin-bottom: 10px; }

.games-label-wrap { max-height: 144px; overflow: auto; margin-bottom: 10px; }

.games-label { position: relative; float: left; display: inline-block; width: 150px; height: 28px; line-height: 28px; margin: 0 10px 8px 0; padding: 0 23px 0 6px; border: 1px solid #ccc; cursor: pointer; }
.games-label i { position: absolute; top: 4px; right: 6px; font: 300 17px Arial; color: #999; }
.games-label:hover { background-color: #fff; border-color: #F54D04; color: #F54D04; }
.games-label:hover i { color: #F54D04; }

.games-table { width: 100%; border-radius: 4px; }
.games-table th, .games-table td { border: 1px solid #DAE2EA; }
.games-table th { position: relative; width: 70px; text-align: center; vertical-align: top; font-size: 26px; font-weight: 400; color: #537284; background-color: #F8FAFF; padding: 6px 0; cursor: pointer; font-family: arial, tahoma; }
.games-table th:hover { background-color: #F2F5FF; }
.games-table th:active { background-color: #EBEFFD; }
.games-table th::before { content: ""; position: absolute; top: -1px; left: -1px; display: none; border-left: 6px solid #f44d04; border-bottom: 6px dashed transparent; }
.games-table th.active::before { display: block; }
.games-table td .games-list { padding: 6px 12px; }
.games-table td .checkbox { float: left; width: 33.3333%; min-height: 0; padding: 4px 0; }
.games-table td .checkbox input[type="checkbox"] { margin-top: 2px; }
.games-table td .selected, .games-table td .selected em, .games-table td .selected label { color: #F44D04; font-weight: 700; }
.games-table td .more { display: block; height: 30px; line-height: 30px; background-color: #FCFCFC; text-align: center; cursor: pointer; }
.games-table td .more:hover { background-color: #f7f7f7; text-decoration: none; }
.games-table td .more:active { background-color: #f3f3f3; }

.card-label {padding-top: 10px;}
.card-name {margin-left: 40px}