<div class="bs-example">
  <table class="table table-bordered">
    <tbody>
    <tr>
      <td class="text-right well">编号</td>
      <td class="text-left" colspan="3">${user.id}</td>
    </tr>
    <tr>
      <td class="text-right well">用户名</td>
      <td class="text-left">${user.accountName}</td>
      <td class="text-right well">姓名</td>
      <td class="text-left">${user.userName}</td>
    </tr>
    <tr>
      <td class="text-right well">角色</td>
      <td class="text-left">${user.roleName!}</td>
      <td class="text-right well">上级</td>
      <td class="text-left">${user.bossName!}</td>
    </tr>
    <tr>
      <td class="text-right well">创建时间</td>
      <td class="text-left" style="max-width: 100px;">${user.createTime?string("yyyy-MM-dd HH:mm:ss")}</td>
      <td class="text-right well">修改时间</td>
      <td class="text-left" style="max-width: 100px;">${user.modifyTime?string("yyyy-MM-dd HH:mm:ss")}</td>
    </tr>
    [#if userGameList??]
    [#list userGameList as userGame]
    <tr>
      <td class="text-right well">游戏</td>
      <td class="text-left" style="max-width: 100px;">${userGame.gameName!}</td>
      <td class="text-right well">区服</td>
      <td class="text-left" style="max-width: 100px;">${userGame.servers!}</td>
    </tr>
    [/#list]
    [/#if]
    </tbody>
  </table>
</div>
