@charset "UTF-8";
@import "./lib/_var.scss";
@import "./lib/_common.scss";
.page-login{
    display: none;
    width: 100%;
    height:100%;
    background:#010020;
    background-size:cover;
    background-image: url("http://120.132.68.148:18048/public/images-dist/page-main-bg.jpg");
    position: relative;
    .page-login-wrap{
        background-color:#fff;
        border-radius: 10px;
        position: absolute;
        .login-btn{
            border-radius:4px;
            width: 200px;
            height: 40px;
            background: -webkit-linear-gradient(top, #4c92f4 0%,#011c43 100%);
            border: 1px solid #23353f;
            color: #fff;
            text-align: center;
            position: absolute;
            &.hover-color{
                background: -webkit-linear-gradient(top, #011c43 0%,#4c92f4 100%);
            }
        }
    }
}
.page-start{
    display: none;
	width: 100%;
	height:100%;
	background:#010020;
	background-size:cover;
    background-image: url("http://120.132.68.148:18048/public/images-dist/page-start-bg.jpg");
    position: relative;
}
.page-main{
    display: none;
	width: 100%;
	height:100%;
	background:#010020;
	background-size:cover;
    background-image: url("http://120.132.68.148:18048/public/images-dist/page-main-bg.jpg");
    position: relative;
    .page-home{
        position: absolute;
        width: 100%;
        height:100%;
        display: none;
    	.btn-new{
            display: none;
    		width: 200px;
    		height: 40px;
    		background: -webkit-linear-gradient(top, #36a7eb 0%,#06398a 100%);
            border: 1px solid #592905;
            color: #fff;
            text-align: center;
            font-weight: 700;
            position: absolute;
            &.hover-color{
                background:#06398a;
            }
    	}
    	.btn-record{
            display: none;
            color: #fff;
    		width: 200px;
            height: 40px;
            background: -webkit-linear-gradient(top, #f3954f 0%,#e25e14 100%);
            border: 1px solid #592905;
            text-align: center;
            font-weight: 700;
            position: absolute;
            &.hover-color{
                background:#e25e14;
            }
    	}
    }
    .page-user-list{
        width: 100%;
        height:100%;
        display: none; 
        position: absolute;
        .bg{
            position: absolute;
            width: 100%;
            height:100%;
        }
        .body{
            overflow: hidden;
            position: absolute;
            background:#fff;
            .operation{
                .so-btn,
                .back-btn{
                    float: right;
                    text-align: center;
                    border: 1px solid #92918d;
                    
                    font-size: inherit;
                    box-sizing: border-box;
                    color: #1e1916;
                    &.hover-color {
                      background: #133984; 
                      color: #fff;
                    }
                }
                .main-input-text-content-wrap{
                    float: left;
                    .main-input-text-content{
                        border: 1px solid #9a9997;
                        color: #1e1916;
                    }
                }
            }
            
            .main-div-table{
                .main-dav-table-line{
                    .column-one{
                        width:6%;
                    }
                    .column-two{
                        width:9%;
                    }
                    .column-three{
                        width:6%;
                    }
                    .column-four{
                        width:6%;
                    }
                    .column-five{
                        width:15%;    
                    }
                    .column-six{
                        width:11%;
                    }
                    .column-seven{
                        width:13%;
                    }
                    .column-eight{
                        width:34%;
                    }
                    .column-fill{
                        width:100%;
                    }
                }
            }
        }
    }
    .page-test-list{
        width: 100%;
        height:100%;
        display: none; 
        position: absolute;
        .bg{
            position: absolute;
            width: 100%;
            height:100%;
        }
        .body{
            overflow: hidden;
            position: absolute;
            background:#fff;
            position:relative;
            .operation{
                .name,
                .num{
                    float: left;
                }
                .back-btn{
                    float: right;
                    text-align: center;
                    border: 1px solid #92918d;
                    
                    font-size: inherit;
                    box-sizing: border-box;
                    color: #1e1916;
                    &.hover-color {
                      background: #133984; 
                      color: #fff;
                    }
                }
                .main-input-text-content-wrap{
                    float: left;
                    .main-input-text-content{
                        border: 1px solid #9a9997;
                        color: #1e1916;
                    }
                }
            }
            
            .main-div-table{
                .main-dav-table-line{
                    .column-one{
                        width:10%;
                    }
                    .column-two{
                        width:30%;
                    }
                    .column-three{
                        width:10%;
                    }
                    .column-four{
                        width:50%;
                    }
                    .column-fill{
                        width:100%;
                    }
                    
                }
            }
        }
    }
    .page-test-report{
        width: 100%;
        height:100%;
        display: none; 
        position: absolute;
        .bg{
            position: absolute;
            width: 100%;
            height:100%;
            //background: rgba(0,0,0,0.7);
        }
        .body{
            overflow: hidden;
            position: absolute;
            background:#fff;
            .title{
                width: 100%;
                text-align: center;
                font-weight: 700;
                color: #004098;
            }
            .recommend-btn{
                display: none;
                border-radius:4px;
                width: 200px;
                height: 40px;
                background: -webkit-linear-gradient(top, #00aae6 0%,#00469d 100%);
                border: 1px solid #23353f;
                color: #fff;
                text-align: center;
                font-weight: 700;
                position: absolute;
                &.hover-color{
                    background: -webkit-linear-gradient(top, #00469d 0%,#00aae6 100%);
                }
            }
            .data-wraps{
                width: 100%;

                .data-wraps-two{
                    float: left;
                    .data-items{
                        float: left;
                        width: 50%;
                        .data-items-title{
                            width: 100%;
                            text-align: center;
                            font-weight: 700;
                            color: #004098;
                        }
                        .main-input-radio{
                            text-align: center;
                            .main-input-radio-items{
                                margin: 0 auto;
                                display: inline-block;
                                float: none;
                                .main-input-radio-box-wrap{
                                    .main-input-radio-box{
                                        border-color:#d8261c;
                                    }
                                }
                                .main-input-radio-label{
                                    color: #d8261c;
                                    font-weight: 700;
                                }
                            }

                        }
                        .compare-options{
                            display: inline-block;
                            font-weight: 700;
                            color: #004098;
                            width: 100%;
                            text-align: center;
                        }
                        

                    }
                }
                
            }
        }
        
        .recommend-bg{
            display: none;
            position: absolute;
            width: 100%;
            height:100%;
            background: rgba(0,0,0,0.7);
        }
        .recommend{
            display: none;
            background-color:#fff;
            position: absolute;
            .left-arrow{
                position: absolute;
                left: 0px;
                top:0px;
                height: 100%;
                z-index: 1;
                .arrow{
                    float: left;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    width: 20px;
                    height: 20px;
                    border-left: 5px solid #605e5d;
                    border-bottom: 5px solid #605e5d;
                    transform:rotate(45deg);
                    &.hover-color{
                        border-color: #acadad;
                    }
                }
            }
            .right-arrow{
                position: absolute;
                right: 0px;
                top:0px;
                height: 100%;
                z-index: 1;
                .arrow{
                    float: right;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    width: 20px;
                    height: 20px;
                    border-top: 5px solid #605e5d;
                    border-right: 5px solid #605e5d;
                    transform:rotate(45deg);
                    &.hover-color{
                        border-color: #acadad;
                    }
                }
            }
            .close{
                z-index: 2;
                text-align: center;
                right:0px;
                top: 0px;
                position:absolute;
                background-color:#605e5d;
                color: #fff;
                &.hover-color{
                    background-color: #acadad;
                }
            }
            .product-list-wrap{
                height: 100%;
                position:relative;
                overflow: hidden;
                .product-list{
                    height: 100%;
                    position:absolute;
                    li{

                        float: left;
                        height: 100%;
                        img{
                            margin: 0 auto;
                            height: 100%;
                            display: block;
                        }
                    }
                }
            }
            
        }
        
    }
    .page-new-user{
        width: 100%;
        height:100%;
        display: none; 
        position: absolute;
        .bg{
            position: absolute;
            width: 100%;
            height:100%;
            //background: rgba(0,0,0,0.7);
        }
        .body{
            position: absolute;
            background:#fff;
            
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            .big-title{
                color: #133984;
                font-weight: 700;
            } 
            .left{
                width: 50%;
                float: left;
                .head-img{
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    display: block;
                    border: 1px solid #9f9f9c;
                    float: left;
                    opacity: 1; 
                    &.hover-color{
                        opacity: 0.7; 
                    }
                }
                .basis-info{
                    display: block;
                    float: left;
                    //background:#333;
                }
                .contact-info{
                    display: block;
                    float: left;
                    //background:#333;
                    width: 100%;
                }
                .case-history{
                    float: left;
                    width: 100%;
                    .block-items{
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        float: left;
                        width: 40%;
                        color: #fff;
                        text-align: center;
                        background-color: #133984;
                        &:last-child{
                            float: right;
                        }
                    }
                }
                .case-history-tick{
                    float: left;
                    width: 100%;
                    .main-input-radio-items{
                        width: 40%;
                        &:last-child{
                            float: right;
                        }
                    }
                }
            }
            .right{
                width: 40%;
                float: right;
                .main-input-radio{
                    float: left;
                    .main-input-radio-items{
                        width: 50%;
                        float: left;
                    }
                }
                .recent-analyze{
                    float: left;
                    width: 100%;
                    .recent-analyze-wrap{
                        display: none;
                        border:1px solid #8190a5;
                        .line{
                            overflow: hidden;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            border-bottom:1px solid #8190a5;
                            &:last-child{
                                border:none;
                            }
                            .line-title{
                                text-align: center;
                                background-color:#133984;
                                color: #fff;
                                width: 33%;
                                float: left;
                            }
                            .line-content{
                                text-align: center;
                                color: #464241;
                                width: 67%;
                                float: right;
                            }
                            .line-title,
                            .line-content{
                                font-size: inherit;
                            }
                            
                        }
                    }
                }
            }
            .save-back-btn,
            .save-scanning-btn{
                display: none;
                border-radius:4px;
                width: 200px;
                height: 40px;
                background: -webkit-linear-gradient(top, #4c92f4 0%,#011c43 100%);
                border: 1px solid #23353f;
                color: #fff;
                text-align: center;
                position: absolute;
                &.hover-color{
                    background: -webkit-linear-gradient(top, #011c43 0%,#4c92f4 100%);
                }
            }
            .close-btn{
                display: none;
                color: #fff;
                text-align: center;
                position: absolute;
                right: 0px;
                background: -webkit-linear-gradient(top, #36a7eb 0%,#06398a 100%);
                &.hover-color{
                    background:#06398a;
                }
            }
        }
    }
    .page-data-analysising{
        background:#000000;
        width: 100%;
        height:100%;
        display: none;
        position: absolute;
        .tip-text{
            width: 100%;
            text-align: center;
            position: absolute;
            color:#fff;
            font-weight: 700;
        }
        .progress-bar{
            overflow: hidden; 
            position: absolute;
            background:#004098;
            .complete{
                position: absolute;
                background:#fff;
                width: 100%;
                height: 100%;
                // transition-duration:10s;
                // transform : translate3d(0px, 0px, 0px);
            }
        }
    }

}


 