<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dazi.spa.modules.checkItem.mapper.CheckItemMapper">
  <resultMap id="BaseResultMap" type="com.dazi.spa.modules.checkItem.model.CheckItem">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="order_no" jdbcType="INTEGER" property="orderNo" />
    <result column="weight" jdbcType="DECIMAL" property="weight" />
    <result column="show_ratio" jdbcType="DECIMAL" property="showRatio" />
    <result column="rand_ratio" jdbcType="DECIMAL" property="randRatio" />
    <result column="add_ratio" jdbcType="DECIMAL" property="addRatio" />
    <result column="minus_ratio" jdbcType="DECIMAL" property="minusRatio" />
    <result column="max_minus_ratio" jdbcType="DECIMAL" property="maxMinusRatio" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="score" jdbcType="DECIMAL" property="score" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, order_no, weight, show_ratio, rand_ratio, add_ratio, minus_ratio, max_minus_ratio, 
    parent_id, score, create_time, modify_time
  </sql>
  <sql id="Where_Clause">
     where 1=1 
    <if test="record.id != null">
      and sci.id = #{record.id,jdbcType=INTEGER}
    </if>
    <if test="record.name != null and record.name != ''">
      and sci.name like concat('%',  #{record.name,jdbcType=VARCHAR}, '%')
    </if>
    <if test="record.orderNo != null">
      and sci.order_no = #{record.orderNo,jdbcType=INTEGER}
    </if>
    <if test="record.weight != null">
      and sci.weight = #{record.weight,jdbcType=DECIMAL}
    </if>
    <if test="record.showRatio != null">
      and sci.show_ratio = #{record.showRatio,jdbcType=DECIMAL}
    </if>
    <if test="record.randRatio != null">
      and sci.rand_ratio = #{record.randRatio,jdbcType=DECIMAL}
    </if>
    <if test="record.addRatio != null">
      and sci.add_ratio = #{record.addRatio,jdbcType=DECIMAL}
    </if>
    <if test="record.minusRatio != null">
      and sci.minus_ratio = #{record.minusRatio,jdbcType=DECIMAL}
    </if>
    <if test="record.maxMinusRatio != null">
      and sci.max_minus_ratio = #{record.maxMinusRatio,jdbcType=DECIMAL}
    </if>
    <if test="record.parentId != null">
      and sci.parent_id = #{record.parentId,jdbcType=INTEGER}
    </if>
    <if test="record.score != null">
      and sci.score = #{record.score,jdbcType=DECIMAL}
    </if>
    <if test="record.createTime != null">
      and sci.create_time = #{record.createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="record.modifyTime != null">
      and sci.modify_time = #{record.modifyTime,jdbcType=TIMESTAMP}
    </if>
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from spa_check_item
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from spa_check_item
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByParentId" parameterType="java.lang.Integer">
    delete from spa_check_item
    where parent_id = #{parentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dazi.spa.modules.checkItem.model.CheckItem">
    insert into spa_check_item (id, name, order_no, 
      weight, show_ratio, rand_ratio, 
      add_ratio, minus_ratio, max_minus_ratio, 
      parent_id, score, create_time, 
      modify_time)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{orderNo,jdbcType=INTEGER}, 
      #{weight,jdbcType=DECIMAL}, #{showRatio,jdbcType=DECIMAL}, #{randRatio,jdbcType=DECIMAL}, 
      #{addRatio,jdbcType=DECIMAL}, #{minusRatio,jdbcType=DECIMAL}, #{maxMinusRatio,jdbcType=DECIMAL}, 
      #{parentId,jdbcType=INTEGER}, #{score,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.dazi.spa.modules.checkItem.model.CheckItem">
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into spa_check_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="showRatio != null">
        show_ratio,
      </if>
      <if test="randRatio != null">
        rand_ratio,
      </if>
      <if test="addRatio != null">
        add_ratio,
      </if>
      <if test="minusRatio != null">
        minus_ratio,
      </if>
      <if test="maxMinusRatio != null">
        max_minus_ratio,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DECIMAL},
      </if>
      <if test="showRatio != null">
        #{showRatio,jdbcType=DECIMAL},
      </if>
      <if test="randRatio != null">
        #{randRatio,jdbcType=DECIMAL},
      </if>
      <if test="addRatio != null">
        #{addRatio,jdbcType=DECIMAL},
      </if>
      <if test="minusRatio != null">
        #{minusRatio,jdbcType=DECIMAL},
      </if>
      <if test="maxMinusRatio != null">
        #{maxMinusRatio,jdbcType=DECIMAL},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        #{score,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dazi.spa.modules.checkItem.model.CheckItem">
    update spa_check_item
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DECIMAL},
      </if>
      <if test="showRatio != null">
        show_ratio = #{showRatio,jdbcType=DECIMAL},
      </if>
      <if test="randRatio != null">
        rand_ratio = #{randRatio,jdbcType=DECIMAL},
      </if>
      <if test="addRatio != null">
        add_ratio = #{addRatio,jdbcType=DECIMAL},
      </if>
      <if test="minusRatio != null">
        minus_ratio = #{minusRatio,jdbcType=DECIMAL},
      </if>
      <if test="maxMinusRatio != null">
        max_minus_ratio = #{maxMinusRatio,jdbcType=DECIMAL},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dazi.spa.modules.checkItem.model.CheckItem">
    update spa_check_item
    set name = #{name,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=INTEGER},
      weight = #{weight,jdbcType=DECIMAL},
      show_ratio = #{showRatio,jdbcType=DECIMAL},
      rand_ratio = #{randRatio,jdbcType=DECIMAL},
      add_ratio = #{addRatio,jdbcType=DECIMAL},
      minus_ratio = #{minusRatio,jdbcType=DECIMAL},
      max_minus_ratio = #{maxMinusRatio,jdbcType=DECIMAL},
      parent_id = #{parentId,jdbcType=INTEGER},
      score = #{score,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectTotal" parameterType="com.dazi.spa.modules.checkItem.model.CheckItem" resultType="java.lang.Integer">
    select count(*) from spa_check_item sci
    <include refid="Where_Clause" />
  </select>
  <select id="selectList" parameterType="com.dazi.spa.modules.checkItem.model.CheckItem" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
     from spa_check_item sci
    <include refid="Where_Clause" />
    <if test="order != null and order.colName != null and order.colName != ''">
      order by ${order.colName}
      <if test="order.desc">
        desc
      </if>
    </if>
    <if test="count > 0">
      limit #{count} offset #{offset}
    </if>
  </select>
</mapper>